* {
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body,
html {
	height: 100%;
	color: #ccc;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
}
#app {
	width: 100%;
	height: 100%;
}
h1,h2,h3,h4,h5,h6 {
	color: white;
	font-weight: bold;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }
em {
	color: orange;
	font-weight: bold;
}
b {
	font-weight: bold;
}
input:-webkit-autofill {
	-webkit-text-fill-color: white;
	-webkit-box-shadow: 0 0 0 1000px #222225 inset;
}
