<template>
	<PageLayout>
		<div class='Home_Background'>
			<StarSystem />
		</div>
		<header class='Home_Content'>
			<nav class='Home_SiteNav'>
				<a @click='() => goto("projects")'>Projects</a>
				<a @click='() => goto("contact")'>Contact</a>
			</nav>
			<article class='Home_Intro'>
				<h1 v-html='content.title' />
				<p v-html='content.sub' />
			</article>
			<div class='Home_Incentive'>
				<MyButton primary @click='() => goto("projects")'>
					View My Work
				</MyButton>
			</div>
		</header>
		<Projects />
		<ContactMe />
	</PageLayout>
</template>

<script>
	import StarSystem from '@/components/StarSystem.vue';
	import Projects from '@/components/Projects.vue';
	import ContactMe from '@/components/ContactMe.vue';
	import PageLayout from '@/components/PageLayout.vue';
	import MyButton from '@/components/ui/MyButton';

	export default {
		name: 'Home',
		computed: {
			content() {
				return this.$store.state.content.landing;
			},
		},
		methods: {
			goto(elementId) {
				const element = window.document.getElementById(elementId);
				element.scrollIntoView({ behavior: 'smooth'});
			}
		},
		components: {
			StarSystem,
			Projects,
			ContactMe,
			PageLayout,
			MyButton,
		},
	};
</script>

<style lang='scss' scoped>
	@import 'src/_themes';

	.Home {
		width: 100%;
		height: 100%;

		&_Warning {
			box-sizing: border-box;
			position: absolute;
			width: 100%;
			text-align: center;
			padding: 20px;
			border-radius: 0 0 10px 10px;
			cursor: pointer;
			@media screen and (min-width: 540px) {
				width: 500px;
			}
			@include theme() {
				background-color: themed('bgEmphasize');
				color: themed('bgEmphasizeTxt');
			}
		}

		&_Background {
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
		}

		&_Content {
			position: relative;
			z-index: 1;
			width: 100%;
			height: 100vh;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&_Intro,
		&_Incentive {
			display: flex;
			flex: 0.5;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&_Intro {
			text-shadow: 2px 2px 5px #000;
		}

		&_SiteNav {
			width: 100%;
			display: flex;
			justify-content: flex-end;

			& a {
				padding: 1em;
				text-transform: capitalize;
				color: #ccc;

				&:hover {
					color: #fff;
				}
				&:active {
					color: #555;
				}
			}
		}
		@media screen and (min-width: 80em) {
			&_Intro,
			&_Incentive {
				font-size: 2em;
			}
		}
	}


</style>
