<template>
	<SectionLayout id='contact'>

		<template v-slot:title>Contact Me</template>

		<div :class='$()'>
			<ValidationObserver :class='$("Contact")' ref='observer' v-slot='{ invalid }'>
				<h2>Send me a message!</h2>
				<form @submit.prevent='onFormSubmit' novalidate>
					<fieldset :class='$("FieldSet", { blurred: formBlurred })'
							:disabled='formBlurred'
					>
						<MyInput name='name' type='text' v-model='form.name'
							rules='required|min:1|max:200'>
							<b>Hey!</b> My <em>name</em> is...
						</MyInput>
						<MyInput name='mail' type='email' v-model='form.mail'
							rules='required|min:3|max:400|email'>
							And my <em>email</em> is...
						</MyInput>
						<MyTextArea name='text' v-model='form.text'
							rules='required|min:1|max:2000'>
							I want to talk to you <em>about</em>...
						</MyTextArea>
						<MyButton primary type='submit' :disabled='invalid'>
							Send
						</MyButton>
					</fieldset>
					<div v-if='formBlurred'
							@click='onFormStatusClose'
							:class='$("FormStatus", {
								pending: formStatus === FormStatus.PENDING,
								failure: formStatus === FormStatus.FAILURE,
								success: formStatus === FormStatus.SUCCESS,
							})'
					>
						<template v-if='formStatus === FormStatus.PENDING'>
							<h1>Sending</h1>
						</template>
						<template v-if='formStatus === FormStatus.FAILURE'>
							<h1>Oops.. An error occured..</h1>
							<p>
								Your message couldn't be sent, please try again later,<br />
								or contact me through social medias..
							</p>
						</template>
						<template v-if='formStatus === FormStatus.SUCCESS'>
							<h1>Message sent!</h1>
							<p>
								Thanks for getting in touch,<br />
								I'll answer shortly...
							</p>
						</template>
					</div>
				</form>
			</ValidationObserver>
			<section :class='$("Social")'>
				<SocialLink :icon='displaySocialAsIcons'
						name='GitLab' handle='paperrin' />
				<SocialLink :icon='displaySocialAsIcons'
						name='GitHub' handle='paperrin' />
				<SocialLink :icon='displaySocialAsIcons'
						name='LinkedIn' handle='dev-paperrin' />
				<SocialLink :icon='displaySocialAsIcons'
						name='Twitter' handle='paperrin_' />
				<SocialLink :icon='displaySocialAsIcons'
						name='AngelList' handle='paperrin' />
			</section>
		</div>
	</SectionLayout>
</template>

<script>
	import axios from 'axios';
	import {
		MyInput,
		MyTextArea,
		MyButton,
	} from '@/components/ui';
	import SectionLayout from '@/components/SectionLayout';
	import SocialLink from '@/components/SocialLink'
	import { ValidationObserver } from 'vee-validate';

	const getClearForm = () => ({
		name: '',
		mail: '',
		text: '',
	});

	const createEnum = (...enumValues) => {
		const objAddKeyWithSameVal = (obj, keyAndVal) => ({ ...obj, [keyAndVal]: keyAndVal });
		const enumObj = enumValues.reduce(objAddKeyWithSameVal, {});
		const handler = {
			get: function(target, prop) {
				if (prop in target)
					return Reflect.get(...arguments);
				throw new Error(`
					Custom enum doesn't contain value '${prop}'. \
					Possible values are: ${Object.keys(target)}.\
				`);
			},
		};
		const proxy = new Proxy(enumObj, handler);

		return Object.freeze(proxy);
	};

	const FormStatus = createEnum(
		'FILLING',
		'PENDING',
		'FAILURE',
		'SUCCESS',
	);

	export default {
		name: 'ContactMe',
		data() {
			return {
				mediaWidth: null,
				displaySocialAsIcons: true,
				form: getClearForm(),
				formStatus: FormStatus.FILLING,
				formError: null,
			};
		},
		created() {
			this.mediaWidth = window.matchMedia("not screen and (min-width: 75em)");
			this.displaySocialAsIcons = this.mediaWidth.matches;
			this.mediaWidth.addListener(this.handleMediaWidth);
		},
		beforeDestroy() {
			this.mediaWidth.removeListener(this.handleMediaWidth);
		},
		methods: {
			handleMediaWidth(media) {
				this.displaySocialAsIcons = media.matches;
			},
			async isValidForm() {
				return await this.$refs.observer.validate();
			},
			clearForm() {
				this.form = getClearForm();
				this.$refs.observer.reset();
			},
			onFormSubmit() {
				if (!this.isValidForm()) {
					return ;
				}
				const data = this.form;

				this.formStatus = FormStatus.PENDING;
				
				const url = (process.env.NODE_ENV === 'production'
					? 'https://europe-west1-portfolio-281215.cloudfunctions.net/submitContactForm'
					: 'http://localhost:8080'
				);
				console.log(url);
				axios.post(url, data)
					.then(this.onFormSubmitSuccess)
					.catch(this.onFormSubmitFailure);
			},
			onFormSubmitSuccess() {
				this.formStatus = FormStatus.SUCCESS;
			},
			onFormSubmitFailure(error) {
				this.formStatus = FormStatus.FAILURE
				console.error(error);
			},
			onFormStatusClose() {
				switch (this.formStatus) {
					case FormStatus.PENDING:
						return ;
					case FormStatus.FAILURE:
						this.formStatus = FormStatus.FILLING;
						this.formError = null;
						return ;
					case FormStatus.SUCCESS:
						this.formStatus = FormStatus.FILLING;
						this.clearForm();
						return;
					default:
						return ;
				}
			},
		},
		computed: {
			formBlurred() {
				return this.formStatus !== FormStatus.FILLING;
			},
			FormStatus() {
				return FormStatus;
			}
		},
		components: {
			MyInput,
			MyTextArea,
			ValidationObserver,
			SectionLayout,
			MyButton,
			SocialLink,
		}
	};
</script>

<style lang='scss' scoped>
	.ContactMe {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 30em;
		margin-left: auto;
		margin-right: auto;
		width: 100%;

		@media screen and (min-width: 75em) {
			flex-direction: row;
			max-width: 40em;
		}

		&_Contact {
			flex: 1;

			& form {
				position: relative;
				& > * + * {
					margin-top: 1em;
				}
			}

			& > * + * {
				margin-top: 1em;
			}
		}
		&_FieldSet {
			flex: 1;

			&-blurred {
				filter: blur(0.5em);
			}
		}
		&_FormStatus {
			margin: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			font-size: 1em;
			align-items: center;
			text-align: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;

			& > * + * {
				margin-top: 0.5em;
			}

			&-pending > h1 { color: white; }
			&-failure > h1 { color: red; }
			&-success > h1 { color: yellowgreen; }

			&-success,
			&-failure {
				cursor: pointer;
			}

			&-pending {
				flex-direction: row;
				transform: translateX(-1em);
				&:after {
					content: '.';
					font-size: 2em;
					transform: translateX(0.5em);
					animation: dots 1s steps(5, end) infinite;
				}
			}

			@keyframes dots {
				0%, 20% {
					color: rgba(0,0,0,0);
					text-shadow:
						.5em 0 0 rgba(0,0,0,0),
						1em 0 0 rgba(0,0,0,0);
				}
				40% {
					color: white;
					text-shadow:
						.5em 0 0 rgba(0,0,0,0),
						1em 0 0 rgba(0,0,0,0);
				}
				60% {
					text-shadow:
						.5em 0 0 white,
						1em 0 0 rgba(0,0,0,0);
				}
				80%, 100% {
					text-shadow:
						.5em 0 0 white,
						1em 0 0 white;
				}
			}
		}
		&_Social {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			justify-content: center;
			flex-direction: row;
			font-size: 1.5em;
			& > * {
				margin: 0.3em;
			}

			@media screen and (min-width: 75em) {
				flex-direction: column;
				justify-content: flex-start;
				margin-left: 1em;
			}

			@media not screen and (min-width: 75em) {
				margin-top: 2em;
				justify-content: space-evenly;
			}
		}
	}
</style>
