<template>
	<div :class='$()'>
		<svg :class='$("Svg")'
			width='100%' height='100%' viewBox='0 0 47.8 25.6'
		>
			<defs>
				<linearGradient :id='$("Gradient")' x1='0%' x2='0%' y1='50%' y2='100%'>
					<stop :class='$("GradientStop0")' offset='0%' />
					<stop :class='$("GradientStop1")' offset='100%' />
				</linearGradient>
			</defs>
			<rect :class='$("Top")' x='6.5' y='0.1' width='34.8' height='24' rx='1.5' ry='1.5' />
			<image ref='image' v-if='img'
					:style='{ opacity: isImgLoaded ? 1 : 0 }'
					@load='isImgLoaded = true'
					:class='$("Image")' :href='imgSrc'
					x='7.4' y='1.5' width='33' height='20.7'
			/>
			<Loader :isLoading='!isImgLoaded' viewBox='0 0 47.8 25.6' :x='7.4' :y='1.5' :width='33' :height='20.7' />
			<rect :class='$("Shadow")' x='0' y='24.6' width='47.8' height='1' rx='3' ry='0.5' />
			<rect :class='$("Bottom")' x='0' y='23.65' width='47.8' height='1.5' rx='3' ry='0.75' />
			<rect :class='$("Base")' x='0' y='23.6' width='47.8' height='0.80' />
			<rect :class='$("Notch")' x='20.5' y='23.6' width='6.8' height='0.5' />
		</svg>
	</div>
</template>

<script>
	import Loader from '@/components/Loader.vue';

	export default {
		name: 'DeviceLaptop',
		data() {
			return {
				isImgLoaded: false,
			}
		},
		props: {
			img: String,
		},
		computed: {
			imgSrc() {
				return require('@/assets/' + this.img);
			}
		},
		components: {
			Loader,
		}
	}
</script>

<style lang='scss' scoped>
	.DeviceLaptop {
		width: 100%;
		height: auto;

		&_Svg:not(:root) {
			width: 100%;
			height: auto;
		}

		&_Image {
			transition: opacity;
			transition-duration: 1s;
		}
		&_GradientStop0 {
			stop-color: #6c6c6c;
		}
		&_GradientStop1 {
			stop-color: #262626;
		}

		&_Base {
			fill: #777;
		}
		&_Bottom {
			fill: url(#DeviceLaptop_Gradient);
		}
		&_Top {
			fill: #000;
			stroke: #ccc;
			stroke-width: 0.1px;
		}
		&_Notch {
			fill: #656565;
		}
		&_Shadow {
			fill: rgba(0, 0, 0, 0.1);
		}
	}
</style>