<template>
	<div :class='$()'>
		<svg :class='$("Svg")' width='100%' height='100%' viewBox='0 0 7.35 15.75'>
			<mask :id='$("ScreenMask")'>
				<rect x='0' y='0' width='7.35' height='15' fill='black' />
				<rect x='0.25' y='0.4' width='6.8' height='14.6' rx='0.5' fill='white' />
			</mask>
			<rect :class='$("ButtonVolume")' x='7.2' y='3' width='0.15' height='2' rx='0.04' />
			<rect :class='$("ButtonPower")' x='7.2' y='6.1' width='0.15' height='0.8' rx='0.04' />
			<rect :class='$("Shadow")' x='0' y='15.25' width='7.35' height='0.5' rx='0.5' ry='0.5' />
			<rect :class='$("Border")' x='0.025' y='0.025' width='7.25' height='15.45' rx='0.7' />
			<image v-if='img'
				:style='{ opacity: isImgLoaded ? 1 : 0 }'
				@load='isImgLoaded = true'
				:class='$("Image")' :href='imgSrc'
				x='0.25' y='0.4' width='6.8' height='14.6' :mask='`url(#${$("ScreenMask")})`'
			/>
			<Loader :isLoading='!isImgLoaded' viewBox='0 0 7.35 15.75' :x='0.25' :y='0.4' :width='6.8' :height='14.6' />
		</svg>
	</div>
</template>

<script>
	import Loader from '@/components/Loader.vue';

	export default {
		name: 'DevicePhone',
		data() {
			return {
				isImgLoaded: false,
			}
		},
		props: {
			img: String,
		},
		computed: {
			imgSrc() {
				return require('@/assets/' + this.img);
			}
		},
		components: {
			Loader,
		}
	}
</script>

<style lang='scss' scoped>
	.DevicePhone {
		width: 100%;
		height: auto;

		&_Svg:not(:root) {
			width: 100%;
			height: auto;
		}

		&_ButtonVolume {
			fill: #777;
		}
		&_ButtonPower {
			fill: #777;
		}
		&_Border {
			fill: #000;
			stroke: #777;
			stroke-width: 0.05;
		}
		&_Screen {
			fill: #fff;
		}
		&_Shadow {
			fill: rgba(0, 0, 0, 0.1);
		}
	}
</style>