<template>
	<div :class='$()'>
		<svg :class='$("Svg")' width='100%' height='100%' viewBox='0 0 21.6 27.89'>
			<mask :id='$("ScreenMask")'>
				<rect x='0' y='0' width='21.6' height='28' fill='black' />
				<rect x='1.61' y='1.71' width='18.08' height='24.12' rx='0.39' fill='white' />
			</mask>
			<rect :class='$("ButtonPower")' x='18.81' y='0' width='1.195' height='0.2' rx='0.04' />
			<rect :class='$("ButtonVolume1")' x='21.2' y='2.44' width='0.2' height='1.17' rx='0.04' />
			<rect :class='$("ButtonVolume2")' x='21.2' y='4' width='0.2' height='1.17' rx='0.04' />
			<rect :class='$("Shadow")' x='0' y='27.19' width='21.3' height='0.7' rx='0.5' ry='0.5' />
			<rect :class='$("Border")' x='0.1' y='0.2' width='21.1' height='27.14' rx='1.2' />
			<image v-if='img'
				:style='{ opacity: isImgLoaded ? 1 : 0 }'
				@load='isImgLoaded = true'
				:class='$("Image")' :href='imgSrc'
				x='1.61' y='1.71' width='18.08' height='24.12' :mask='`url(#${$("ScreenMask")})`'
			/>
			<Loader :isLoading='!isImgLoaded' viewBox='0 0 21.6 27.89' :x='1.61' :y='1.71' :width='18.08' :height='24.12' />
		</svg>
	</div>
</template>

<script>
	import Loader from '@/components/Loader.vue';

	export default {
		name: 'DeviceTablet',
		data() {
			return {
				isImgLoaded: false,
			}
		},
		props: {
			img: String,
		},
		computed: {
			imgSrc() {
				return require('@/assets/' + this.img);
			}
		},
		components: {
			Loader,
		}
	}
</script>

<style lang='scss' scoped>
	.DeviceTablet {
		width: 100%;
		height: auto;

		&_Svg:not(:root) {
			width: 100%;
			height: auto;
		}

		&_Border {
			fill: #000;
			stroke: #777;
			stroke-width: 0.2;
		}
		&_ButtonVolume1,
		&_ButtonVolume2,
		&_ButtonPower {
			fill: #777;
		}
		&_Shadow {
			fill: rgba(0, 0, 0, 0.1);
		}
	}
</style>