<template>
	<div :class='$()'>
		<div v-if='laptop' :class='$("Laptop", withClasses)'>
			<DeviceLaptop :img='laptop' />
		</div>
		<div v-if='tablet' :class='$("Tablet", withClasses)'>
			<DeviceTablet :img='tablet' />
		</div>
		<div v-if='phone' :class='$("Phone", withClasses)'>
			<DevicePhone :img='phone' />
		</div>
	</div>
</template>

<script>
	import DeviceLaptop from '@/components/DeviceLaptop.vue';
	import DevicePhone from '@/components/DevicePhone.vue';
	import DeviceTablet from '@/components/DeviceTablet.vue';

	export default {
		name: 'DeviceShowcase',
		props: {
			laptop: {
				type: String,
				default: null,
			},
			phone: {
				type: String,
				default: null,
			},
			tablet: {
				type: String,
				default: null,
			},
		},
		computed: {
			withClasses: function() {
				return {
					withLaptop: !!this.laptop,
					withTablet: !!this.tablet,
					withPhone: !!this.phone,
				};
			}
		},
		components: {
			DeviceLaptop,
			DevicePhone,
			DeviceTablet,
		}
	}
</script>

<style lang='scss' scoped>
	$laptopWidth: 1;
	$phoneWidth: 0.18;
	$tabletWidth: 0.35;

	.DeviceShowcase {
		position: relative;
		width: 100%;

		&_Laptop {
			position: relative;
			width: calc(100% * #{$laptopWidth});

			&-withTablet {
				position: relative;
				transform-origin: top right;
				transform: scale(0.9);
			}
		}
		&_Phone {
			position: relative;
			width: calc(100% * #{$phoneWidth});

			:not(&-withTablet):not(#{&}-withLaptop)#{&}-withPhone {
				transform: translateX(-50%);
				left: 50%;
			}
			:not(&-withTablet)#{&}-withLaptop {
				right: 5%;
			}
			&-withLaptop#{&}-withTablet {
				transform-origin: bottom right;
				transform: scale(0.9);
			}
			&-withLaptop {
				position: absolute;
				bottom: 0;
				right: 2%;
			}
			:not(&-withLaptop)#{&}-withTablet {
				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translateX(50%);
			}
		}
		&_Tablet {
			position: relative;
			width: calc(100% * #{$tabletWidth});

			:not(&-withLaptop):not(&-withPhone)#{&}-withTablet {
				transform: translateX(-50%);
				left: 50%;
				width: 100%;
			}
			&-withLaptop {
				position: absolute;
				bottom: 0;
				left: 0;
				transform-origin: bottom left;
				transform: scale(0.9);
			}
			:not(&-withLaptop)#{&}-withPhone {
				position: relative;
				transform: translateX(
						calc(-100% + 100% * (#{$phoneWidth} * 1 / #{$tabletWidth}) / 2)
				);
				left: 50%;
			}
		}
	}
</style>