<template>
	<svg ref='self' :class='$()' v-if='isLoading'
		width='100%' height='100%' :viewBox='viewBox'
	>
		<defs>
			<linearGradient :id='$("Gradient")' x1="0%" y1="0%" x2="100%" y2="0%">
				<stop offset="0%"   stop-color="transparent"/>
				<stop offset="100%" stop-color="royalblue"/>
			</linearGradient>
		</defs>
		<circle :class='$("Sun")'
			:cx='x + width / 2' :cy='y + height / 2' :r='sunRadius' />
		<path :class='$("OrbitPath")'
			:style='{
				strokeWidth: `${earthRadius}px`,
				transformOrigin: `${x + width / 2}px ${y + height / 2}px`,
			}'
			:d='`M ${x + width / 2},${y + height / 2} m -${orbitRadius},0
				a${orbitRadius},${orbitRadius} 0 1,1 ${orbitRadius * 2},0`' />
		<circle :class='$("Earth")'
			:style='{
				transformOrigin: `${x + width / 2}px ${y + height / 2}px`,
			}'
			:cx='x + width / 2 + orbitRadius' :cy='y + height / 2' :r='earthRadius' />
	</svg>
</template>

<script>
	export default {
		name: 'Loader',
		data: function() {
			return {
				scale: 1,
			};
		},
		computed: {
			orbitRadius() {
				return this.scale * 0.5;
			},
			earthRadius() {
				return this.scale * 0.1;
			},
			sunRadius() {
				return this.scale * 0.25;
			},
		},
		watch: {
			isLoading(willBeLoading, wasLoading) {
				if (willBeLoading && !wasLoading)
					this.addListener();
				else if (!willBeLoading && wasLoading)
					this.removeListener();
			}
		},
		created() {
			this.addListener();
		},
		destroyed() {
			this.removeListener();
		},
		mounted() {
			this.onWindowResize();
		},
		methods: {
			addListener() {
				window.addEventListener('resize', this.onWindowResize);
			},
			removeListener() {
				window.removeEventListener('resize', this.onWindowResize)
			},
			onWindowResize() {
				const parent = this.$refs.self.parentNode;
				const width = parent.clientWidth;
				const vbWidth = parseFloat(this.viewBox.split(' ')[2]);
				this.scale = Math.min(1 / (width / vbWidth) * 100, vbWidth / 4);
			}
		},
		props: {
			isLoading: {
				type: Boolean,
				default: true,
			},
			viewBox: {
				type: String,
				default: '0 0 1 1',
			},
			x: {
				type: Number,
				default: 0,
			},
			y: {
				type: Number,
				default: 0,
			},
			width: {
				type: Number,
				default: 1,
			},
			height: {
				type: Number,
				default: 1,
			}
		}
	}
</script>

<style lang='scss' scoped>
	.Loader {
		&_Sun {
			fill: orange;
		}
		&_Earth {
			fill: royalblue;
		}
		&_OrbitPath {
			fill: none;
			stroke: url(#Loader_Gradient);
		}

		&_Earth, &_OrbitPath {
			animation: orbit 2s linear infinite;
		}

		@keyframes orbit {
			0% {
				transform: rotateZ(0deg);
			}
			100% {
				transform: rotateZ(360deg);
			}
		}
	}
</style>