<template>
    <div :class='$()'>
        <main :class='$("Main")'>
            <slot name='default' />
        </main>
        <footer :class='$("Footer")'>
            <small :class='$("Copyright")'>
                Copyright &copy; {{ currentYear }} Paul Perrin. All Rights Reserved
            </small>
        </footer>
    </div>
</template>

<script>
    export default {
        name: 'PageLayout',
        computed: {
			currentYear() {
				return (new Date()).getFullYear();
			}
        }    
    }
</script>

<style lang='scss' scoped>
	@import 'src/_themes';
    
    .PageLayout {
        $footerHeight: 2rem;

        width: 100%;
        min-height: 100vh;
        position: relative;

        @include theme() {
			background-color: themed('bg');
        }
        
        &_Main {
            position: relative;
            box-sizing: border-box;

            & > :last-child {
                padding-bottom: $footerHeight;
            }
        }
        &_Footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: $footerHeight;
            font-size: 0.8em;
            margin-top: #{-$footerHeight};
            width: 100%;
            text-align: center;
        }
    }
</style>