<template>
	<article :class='$()'>
		<div :class='$("Media")'>
			<DeviceShowcase
				:class='$("Image")'
				:laptop='content.img.desktop'
				:phone='content.img.phone'
				:tablet='content.img.tablet'
			/>
		</div>
		<div :class='$("Details")'>
			<h2
				:class='$("Title")'
				v-html='content.title'
			/>
			<p :class='$("Desc")' v-html='content.overview'/>
			<ul :class='$("TechsList")'>
				<li
					:class='$("TechsListItem")'
					v-for='tech in content.techs' :key='tech'
					v-html='tech'
				/>
			</ul>
			<div :class='$("LinksContainer")'>
				<MyButton :disabled='!content.links.live'
					primary
					:class='$("Link")'
					:href='content.links.live' newTab
				>
					{{ template.links.live }}
				</MyButton>
				<MyButton :disabled='!content.links.source'
					:class='$("Link")'
					:href='content.links.source' newTab
				>
					{{ template.links.source }}
				</MyButton>
			</div>
		</div>
	</article>
</template>

<script>
	import DeviceShowcase from '@/components/DeviceShowcase.vue';
	import { MyButton } from '@/components/ui';

	export default {
		name: 'ProjectsItem',
		props: {
			content: Object,
		},
		computed: {
			template() {
				return this.$store.state.content.projects.itemTemplate;
			}
		},
		components: {
			DeviceShowcase,
			MyButton,
		}
	};
</script>

<style lang='scss' scoped>
	.ProjectsItem {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		width: 100%;
		margin-bottom: 3rem;

		@media screen and (min-width: 75em) {
			flex-direction: row;
			align-items: stretch;
			justify-content: center;

			& > * {
				padding: 1rem;
			}
		}

		&_Media,
		&_Details {
			width: 100%;

			& > * {
				margin-bottom: 1rem;
			}
		}

		&_Media {
			max-width: 30em;
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&_Details {
			max-width: 30em;
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&_Image {
			width: 100%;
			height: auto;
		}

		&_Desc {
			line-height: 1.3em;
		}

		&_TechsList {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: flex-start;
		}

		&_TechsListItem {
			font-size: 1em;
			display: inline-block;
			border: 1px solid rgba(255, 255, 255, 0.3);
			padding: 0.2em 0.5em;
			border-radius: 4px;
			margin: 3px;
			box-shadow: 0 2.5px 0 rgba(255, 255, 255, 0.3);
		}

		&_LinksContainer {
			width: 100%;
			display: flex;

			& > * {
				flex: 1;
				max-width: 10em;
			}

			& > :not(:last-child) {
				margin-right: 20px;
			}
		}
	}
</style>
