<template>
	<SectionLayout id='projects'>

		<template v-slot:title>
			{{ content.title }}
		</template>


		<ProjectsItem
			v-for='item in content.items' :key='item.title'
			:content='item'
		/>

	</SectionLayout>
</template>

<script>
	import SectionLayout from '@/components/SectionLayout.vue';
	import ProjectsItem from '@/components/ProjectsItem.vue';

	export default {
		name: 'Projects',
		computed: {
			content() {
				return this.$store.state.content.projects;
			}
		},
		components: {
			ProjectsItem,
			SectionLayout,
		}
	};
</script>

<style lang='scss' scoped>

</style>
