<template>
	<section :class='$()'>
		<h1 :class='$("Title")'>
			<slot name='title' />
		</h1>
		<div :class='$("Content")'>
			<slot name='default' />
		</div>
	</section>
</template>

<script>
	export default {
		name: 'SectionLayout',
	}
</script>

<style lang='scss' scoped>

	.SectionLayout {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 100vh;
		box-sizing: border-box;

		&_Title {
			width: 100%;
			text-align: center;
			padding-top: 1.5em;
			padding-bottom: 1.5em;

		}

		&_Content {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			max-width: 60em;
		}
	}
</style>