<template>
    <a :class='$({ icon })'
            :href='href' target='_blank'
    >
        <font-awesome-layers :class='["fa-1x",...$("Icon")]'>
            <font-awesome-icon v-if='!!iconBgProps'
                    v-bind='iconBgProps'
            />
            <font-awesome-icon
                    v-bind='iconProps'
            />
        </font-awesome-layers>
        <div v-if='!icon'
                :class='$("Text")'
        >
            <p :class='$("Name")'>{{ name }}</p>
            <p :class='$("Handle")'>{{ handle }}</p>
        </div>
    </a>
</template>

<script>
import Icons from '@/fontAwesome.js';

const medias = {
    GitLab: {
        urlPrefix: 'https://gitlab.com/',
        iconProps: {
            icon: Icons.GITLAB,
            transform: 'shrink-6',
            color: '#fc6d26',
        },
        iconBgProps: {
            icon: Icons.SQUARE,
            color: '#30353e',
        },
    },
    GitHub: {
        urlPrefix: 'https://github.com/',
        iconProps: {
            icon: Icons.GITHUB,
            transform: 'shrink-6',
            color: '#000',
        },
        iconBgProps: {
            icon: Icons.SQUARE,
        },
    },
    LinkedIn: {
        urlPrefix: 'https://linkedin.com/in/',
        iconProps: {
            icon: Icons.LINKEDIN,
            transform: 'shrink-6',
        },
        iconBgProps: {
            icon: Icons.SQUARE,
            color: '#0e76a8',
        },
    },
    Twitter: {
        urlPrefix: 'https://twitter.com/',
        iconProps: {
            icon: Icons.TWITTER,
            transform: 'shrink-6',
        },
        iconBgProps: {
            icon: Icons.SQUARE,
            color: '#08a0e9',
        },
    },
    AngelList: {
        urlPrefix: 'https://angel.co/u/',
        iconProps: {
            icon: Icons.ANGELLIST,
            transform: 'shrink-6',
            color: 'white',
        },
        iconBgProps: {
            icon: Icons.SQUARE,
            color: '#435861',
        },
    },
};

export default {
    name: "SocialLink",
    props: {
        name: {
            type: String,
            required: true,
            validator: v => Object.keys(medias).includes(v),
        },
        handle: {
            type: String,
            required: true,
        },
        icon: {
            type: Boolean,
            required: false,
            default: true,
        }
    },
    computed: {
        urlPrefix() {
            return medias[this.name].urlPrefix;
        },
        href() {
            return this.urlPrefix + this.handle;
        },
        iconProps() {
            return medias[this.name].iconProps;
        },
        iconBgProps() {
            return medias[this.name].iconBgProps;
        },
    },
}
</script>

<style lang='scss' scoped>

.SocialLink {
    display: flex;
    flex-direction: row;
    color: #ddd;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;

    &:not(&-icon) {
        transform-origin: left center;
    }

    &:hover {
        transform: scale(1.25);
    }

    &_Icon,
    &_Icon svg {
        width: 2em;
        height: 2em;
    }
    &_Icon {
        color: white;
    }
    &_Text {
        text-align: left;
        padding-left: 0.2em;
    }
    &_Name {
        font-size: 1em;
        line-height: 1.2em;
        vertical-align: text-bottom;
    }
    &_Handle {
        font-size: 0.64em;
        line-height: 0.8em;
    }
}

</style>