<template>
	<div :class='$()'>
		<canvas ref='myCanvas' :class='$("Background")'
			:width='`${this.width}px`' :height='`${this.height}px`'
		/>
		<div :class='$("Content")' :style='{ fontSize: `${scale}px` }'>
			<StarSystemPlanet v-bind='system' :scale='scale' />
			<StarSystemOrbit v-for='orbit in system.orbits' :key='orbit.name' v-bind='orbit' :scale='scale'>
				<StarSystemPlanet v-bind='orbit' :scale='scale' />
				<StarSystemOrbit v-for='subOrbit in orbit.orbits' :key='subOrbit.name' v-bind='subOrbit' :scale='scale'>
					<StarSystemPlanet v-bind='subOrbit' :revolutionTime='orbit.revolutionTime' :scale='scale' />
				</StarSystemOrbit>
			</StarSystemOrbit>
		</div>
	</div>
</template>

<script>
import StarSystemOrbit from '@/components/StarSystemOrbit.vue';
import StarSystemPlanet from '@/components/StarSystemPlanet.vue';

export default {
	name: 'StarSystem',
	data() {
		return {
			width: 0,
			height: 0,
			scale: 1,
			system: {
				name: 'sun', radius: 50, color: 'rgb(255, 115, 0)'
				, customStyle: { boxShadow:
					'inset 0 0 0.1em rgb(255, 227, 78),' +
					'inset 0 0 0.03em white,' +
					'0 0 0.1em red,' +
					'inset 0 0 0.2em rgb(255, 181, 15)'
				}
				, orbits: [
					{ name: 'mercury', radius: 2, color: 'rgb(184, 180, 163)', distance: 52 + 20*1, revolutionTime: 8.797 },
					{ name: 'venus', radius: 5, color: 'rgb(195, 181, 137)', distance: 59 + 20*2, revolutionTime: 22.47 },
					{
						name: 'earth', radius: 5, color: 'rgb(96, 110, 171)', distance: 69 + 20*3, revolutionTime: 36.526
						, orbits: [
							{ name: 'moon', radius: 1.5, color: 'rgb(207, 181, 141)', distance: 14, revolutionTime: 2.7 }
						]
					},
					{ name: 'mars', radius: 3, color: 'rgb(184, 85, 0)', distance: 77 + 20*4, revolutionTime: 68.698 },
					{ name: 'jupiter', radius: 16, color: 'rgb(176, 165, 138)', distance: 96 + 20*5 , revolutionTime: 433.282 },
					{ name: 'saturn', radius: 15, color: 'rgb(207, 200, 131)', distance: 127 + 20*6, revolutionTime: 1075.57
						, rings: {
							radius: 35,
							style: {
								backgroundImage:
									'radial-gradient(circle at center' +
									', transparent 38%' +
									', rgba(91, 88, 41, 0.8) 40%' +
									', rgba(91, 88, 41, 0.8) 53%' +
									', transparent 55%' +
									', transparent 57%' +
									', rgba(91, 88, 41, 0.8) 59%' +
									', rgba(91, 88, 41, 0.8) 63%' +
									', transparent 65%)'
							}
						}
					},
					{ name: 'uranus', radius: 2, color: 'rgb(152, 227, 227)', distance: 145 + 20*7, revolutionTime: 3068.715 },
					{ name: 'neptune', radius: 2, color: 'rgb(68, 88, 215)', distance: 149 + 20*8, revolutionTime: 6019.003 },
					{ name: 'pluto', radius: 1, color: 'rgb(207, 181, 141)', distance: 152 + 20*9, revolutionTime: 9056 }
				]
			}
		};
	},
	created() {
		window.addEventListener('resize', this.onWindowResize);
	},
	destroyed() {
		window.removeEventListener('resize', this.onWindowResize)
	},
	mounted() {
		this.onWindowResize();
	},
	methods: {
		onWindowResize() {
			const starSystemWidth = (152 + 20*10) * 2;
			const starSystemHeight = (152 + 20*10) * 0.7;
			const { innerWidth, innerHeight } = window;
			this.scale = Math.min(
				innerWidth / starSystemWidth,
				innerHeight / starSystemHeight
			);
			this.width = this.$refs.myCanvas.offsetWidth;
			this.height = this.$refs.myCanvas.offsetHeight;
			this.$nextTick(() => {
				this.drawStarBackground();
			})
		},
		drawStarBackground() {
			function getRandom(min, max) {
				return Math.floor(Math.random() * (max - min + 1)) + min;
			}
			const canvas = this.$refs.myCanvas;
			const context = canvas.getContext('2d');
			context.clearRect(0, 0, canvas.width, canvas.height);
			const stars = canvas.offsetWidth * canvas.offsetHeight / 1500;
			const colorRange = [20,60,240];
			for (let i = 0; i < stars; i++) {
				let x = Math.random() * canvas.offsetWidth;
				let y = Math.random() * canvas.offsetHeight;
				let radius = Math.random() * 1.1;
				let hue = colorRange[getRandom(0,colorRange.length - 1)];
				let sat = getRandom(35,100);
				context.beginPath();
				context.arc(x, y, radius, 0, 360);
				context.fillStyle = 'hsl(' + hue + ', ' + sat + '%, 85%)';
				context.fill();
			}
		}
	},
	components: {
		StarSystemOrbit,
		StarSystemPlanet
	}
};
</script>

<style lang='scss' scoped>
	.StarSystem {
		overflow: hidden;
		background-color: black;
		width: 100%;
		height: 100%;

		&_Background {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		&_Content {
			width: 100%;
			height: 100%;
			position: relative;
			transform-style: preserve-3d;
			transform: rotateX(70deg);
		}
	}
</style>
