<template>
	<div
	:class='$()'
	:style='starSystemOrbitStyle'>
		<div
		:class='$("ObjectWrapper")'
		:style='objectWrapperStyle'>
			<slot />
		</div>
	</div>
</template>

<script>
export default {
	name: 'StarSystemOrbit',
	props: {
		distance: {
			type: Number,
			default: 1
		},
		revolutionTime: {
			type: Number,
			default: 1
		},
		radius: {
			type: Number,
			default: 8
		},
		scale: {
			type: Number,
			default: 1
		}
	},
	computed: {
		starSystemOrbitStyle() {
			return {
				fontSize: `${this.distance * 2 * this.scale}px`,
				animationDuration: `${this.revolutionTime}s`,
				borderWidth: `${Math.max(this.scale, 1)}px`
			};
		},
		objectWrapperStyle() {
			return {
				animationDuration: `${this.revolutionTime}s`,
			};
		}
	}
};
</script>

<style lang='scss' scoped>
	.StarSystemOrbit {
		transform-style: preserve-3d;
		position: absolute;
		left: 50%;
		top: 50%;
		width: 1em;
		height: 1em;
		margin-left: -.5em;
		margin-top: -.5em;
		border-radius: 50%;
		border: 1px solid rgba(255, 255, 255, 0.2);
		animation: orbit none linear infinite;
		box-sizing: border-box;

		&_ObjectWrapper {
			transform-style: preserve-3d;
			position: absolute;
			right: 0;
			top: 50%;
			animation: invert-orbit none linear infinite;
		}
	}
	@keyframes orbit {
		0% {
			transform: rotateZ(0deg);
		}
		100% {
			transform: rotateZ(360deg);
		}
	}
	@keyframes invert-orbit {
		0% {
			transform: rotateZ(0deg);
		}
		100% {
			transform: rotateZ(-360deg);
		}
	}
</style>
