<template>
	<div :class='$()'>
		<div
			:class='$("Planet")'
			:style='planetStyle'>
		</div>
		<div v-if='rings' :class='$("Rings")'
			:style='ringsStyle'>
		</div>
	</div>
</template>

<script>
export default {
	name: 'StarSystemPlanet',
	props: {
		color: {
			type: String,
			default: 'white'
		},
		radius: {
			type: Number,
			default: 8
		},
		revolutionTime: {
			type: Number,
			default: 0
		},
		rings: {
			type: Object
		},
		customStyle: {
			type: Object
		},
		scale: {
			type: Number,
			default: 1
		}
	},
	computed: {
		planetStyle() {
			return {
				backgroundColor: this.color,
				animationDuration: `${this.revolutionTime}s`,
				fontSize: `${this.radius * 2 * this.scale}px`,
				...this.customStyle
			};
		},
		ringsStyle() {
			return {
				fontSize: `${this.rings.radius * 2 * this.scale}px`,
				...this.rings.style
			};
		}
	}
};
</script>

<style lang='scss' scoped>
	.StarSystemPlanet {
		transform-style: preserve-3d;
		position: absolute;
		top: 50%;
		left: 50%;

		&_Planet {
			transform-style: preserve-3d;
			transform: rotateX(-70deg);
			position: absolute;
			left: 50%;
			top: 50%;
			width: 1em;
			height: 1em;
			margin-top: -.5em;
			margin-left: -.5em;
			border-radius: 50%;
			animation: sunlight none linear infinite;
		}
		&_Rings {
			transform-style: preserve-3d;
			position: absolute;
			left: 50%;
			top: 50%;
			width: 1em;
			height: 1em;
			margin-top: -.5em;
			margin-left: -.5em;
		}
	}
	@keyframes sunlight {
		0% {
			box-shadow: inset -.7em   0   .3em rgba(0, 0, 0, 0.8);
		}
		25% {
			box-shadow: inset -1.1em  0   .3em rgba(0, 0, 0, 0.8);
		}
		25.00001% {
			box-shadow: inset 1.1em   0   .3em rgba(0, 0, 0, 0.8);
		}
		50% {
			box-shadow: inset .7em    0   .3em rgba(0, 0, 0, 0.8);
		}
		75% {
			box-shadow: inset 0       0   .3em rgba(0, 0, 0, 0.8);
		}
		100% {
			box-shadow: inset -.7em   0   .3em rgba(0, 0, 0, 0.8);
		}
	}
</style>
