$themes: (
		light: (
			// Button
			btnPrimaryBg: #f1860c,
			btnSecondaryBg: #777,
			btnShadowInset: rgba(0, 0, 0.5, 0.3),
			btnShadow: rgba(0, 0, 0.5, 0.2),
			btnTxt: #fff,
			btnDisabledBg: #2f2f2f,
			btnDisabledTxt: #282828,

			// Input(s)
			inputBorder: gray,
			inputTxt: gray,
			inputFocusedBorder: white,
			inputFocusedTxt: white,
			inputErrorBorder: #f55,
			checkboxCheck: #f1860c,

			// General
			bg: #222225,
			txtPrimary: #fff,
			txtSecondary: #ccc,
			txtEmphasize: #f1860c,
			bgEmphasize: #f1860c,
			bgEmphasizeTxt: #ffffff,
			txtError: #f55,
			bgButtonPrimary: #f1860c,
			bgButtonSecondary: #777,
		),
		dark: (
			// Button
			btnPrimaryBg: #f1860c,
			btnSecondaryBg: #777,
			btnShadowInset: rgba(0, 0, 0.5, 0.3),
			btnShadow: rgba(0, 0, 0.5, 0.2),
			btnTxt: #fff,
			btnDisabledBg: #2f2f2f,
			btnDisabledTxt: #282828,

			// Input(s)
			inputBorder: gray,
			inputTxt: gray,
			inputFocusedBorder: white,
			inputFocusedTxt: white,
			inputErrorBorder: #f55,
			checkboxCheck: #f1860c,

			// General
			bg: #222225,
			txtPrimary: #fff,
			txtSecondary: #ccc,
			txtEmphasize: #f1860c,
			bgEmphasize: #f1860c,
			bgEmphasizeTxt: #ffffff,
			txtError: #f55,
			bgButtonPrimary: #f1860c,
			bgButtonSecondary: #777,
		),
);

@mixin theme($themes: $themes) {
	@each $theme, $map in $themes {

		.theme-#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), '#{$key}');
				$theme-map: map-merge($theme-map, ($key: $value)) !global;
			}

			@content;
			$theme-map: null !global;
		}

	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}