<template>
	<div id="app" :class='`theme-${themeName}`'>
		<router-view />
	</div>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex';
	import { getters, actions } from '@/store/constants';
	import themeNames from '@/themeNames.js';

	export default {
		name: 'App',
		data() {
			return {
				mediaPrefersDark: window.matchMedia('(prefers-color-scheme: dark)'),
			};
		},
		mounted() {
			this.mediaPrefersDark.addEventListener('change', this.handlePrefersScheme);
			this.handlePrefersScheme(this.mediaPrefersDark);
		},
		destroyed() {
			this.mediaPrefersDark.removeEventListener('change', this.handlePrefersScheme);
		},
		computed: {
			...mapGetters({
				themeName: getters.GET_THEME_NAME,
			}),
		},
		methods: {
			...mapActions({
				setThemeName: actions.SET_THEME_NAME,
			}),
			handlePrefersScheme({ matches: isDark }) {
				const themeName =  isDark ? themeNames.DARK : themeNames.LIGHT;

				this.setThemeName(themeName);
			}
		},
	}
</script>

<style>
</style>
