<template>
	<component :is='myButtonType' v-bind='myButtonProps' @click='onClick'
		:class='$({ disabled, primary })'
	>
			<slot>Press Me</slot>
	</component>
</template>

<script>
	export default {
		name: 'MyButton',
		props: {
			disabled: {
				type: Boolean,
				default: false,
			},
			href: {
				type: String,
				default: null,
			},
			newTab: {
				type: Boolean,
				default: false,
			},
			type: {
				type: String,
				default: null,
				validator: prop => [
					'submit',
				].includes(prop),
			},
			primary: {
				type: Boolean,
				default: false,
			}
		},
		computed: {
			myButtonType() {
				return this.href ? 'a' : 'button';
			},
			myButtonProps() {
				let props = {};

				if (this.href) {
					props = { ...props,
						href: this.href,
						target: this.newTab ? '_blank' : undefined,
						role: 'button',
					};
				}
				else {
					props = { ...props,
						disabled: this.disabled,
						type: this.type,
					};
				}

				return props;
			}
		},
		methods: {
			onClick(...args) {
				this.$emit('click', ...args);
			}
		},
	}
</script>

<style lang='scss' scoped>
	@import 'src/_themes';

	.MyButton {
		$padding: 15;
		$thickness: 6;
		$thickness-press: $thickness / 4;
		$thickness-diff: $thickness - $thickness-press;
		$shadow-length-factor: 0.8;

		padding: #{$padding + px};
		padding-left: #{$padding * 2 + px};
		padding-right: #{$padding * 2 + px};
		transition:
			transform 0.2s ease-in-out,
			box-shadow 0.2s ease-in-out,
			padding-bottom 0.2s ease-in-out,
			margin-bottom 0.2s ease-in-out,
			background-color 0.2s ease-in-out,
			color 0.2s ease-in-out;
		text-align: center;
		display: inline-block;
		border-radius: 4px;

		@include theme() {
			box-shadow:
				0 #{$thickness * $shadow-length-factor + px} 2px themed('btnShadow'),
				inset 0 #{- $thickness + px} themed('btnShadowInset');
			background-color: themed('btnSecondaryBg');
			color: themed('btnTxt');
		}

		&-primary {
			@include theme() {
				background-color: themed('btnPrimaryBg');
			}
		}
		&#{&}-disabled {
			box-shadow: none;
			padding: #{$padding - $thickness / 2};
			transform: translateY(#{$thickness + px});
			margin-bottom: #{$thickness + px};

			cursor: not-allowed;
			opacity: 0.3;
			
			//@include theme() {
			//	background-color: themed('btnDisabledBg');
			//	color: themed('btnDisabledTxt');
			//}
		}
		&:not(&-disabled) {
			padding-bottom: #{$padding + $thickness + px};
			
			&:hover {
				filter: brightness(150%);
			}
			&:focus {
				filter: saturate(150%);

				@include theme() {
					box-shadow:
						0 #{$thickness * $shadow-length-factor + px} 2px themed('btnShadow'),
						inset 0 #{- $thickness + px} themed('btnShadowInset'),
						0 0 0 3px white,
						0 0 0 1.5px white;
				}
			}

			&:active {
				filter: brightness(150%);
				
				transform: translateY(#{$thickness-diff + px});
				padding-bottom: #{$padding + $thickness-press + px};
				margin-bottom: #{$thickness-diff + px};

				@include theme() {
					box-shadow:
						0 #{$thickness-press * $shadow-length-factor + px} 2px themed('btnShadow'),
						inset 0 #{- $thickness-press + px} themed('btnShadowInset');
				}
			}
				
		}
	}
</style>