<template>
	<div :class='$()'>
		<label :class='$("Container")'>
			<input :class='$("BaseCheckbox")'
				type='checkbox' :name='name' :id='uid' ref='checkbox'
				@click='toggleValue()' :value='value' />
			<span :class='$("MyCheckbox")'>
				<svg :class='$("Check")'
					viewBox='0,0 100,100'
				>
					<path d='M 5,50 L 40,95 L 95,5' />
				</svg>
			</span>
			<slot>{{ label }}</slot>
		</label>
	</div>
</template>

<script>
	import { getUniqueId } from '@/utils.js';

	export default {
		name: 'MyCheckbox',
		data() {
			return {
				uid: getUniqueId(),
			};
		},
		methods: {
			toggleValue() {
				const value = this.$refs.checkbox.value === 'true';
				this.$emit('input', !value);
			}
		},
		props: {
			value: {
				type: Boolean,
				default: false,
			},
			label: {
				type: String,
				default: '',
			},
			name: {
				type: String,
				required: true,
			}
		}
	}
</script>

<style lang='scss' scoped>
	@import 'src/_themes';

	.MyCheckbox {
		user-select: none;

		&_Container {
			position: relative;
			padding-left: 1.5em;
			cursor: pointer;
		}
		&_BaseCheckbox {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			height: 0;
			width: 0;
		}
		&_MyCheckbox {
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			border-radius: 0.1em;
			@include theme() {
				border: 2px solid themed('inputBorder');
			}
		}
		&_Check {
			position: absolute;
			left: -5%;
			top: -20%;
			width: 120%;
			height: 120%;

			& > path {
				@include theme() {
					stroke: themed('checkboxCheck');
				}
				stroke-width: 15;
				fill: none;
				stroke-dashoffset: 162.48388671875;
				stroke-dasharray: 162.48388671875;
				transition: stroke-dashoffset 0.2s ease-in-out;
			}
		}
		&_Container:hover {
			filter: brightness(130%);
		}
		&_BaseCheckbox:checked ~ &_MyCheckbox > &_Check > path {
			stroke-dashoffset: 0;
		}
	}
</style>