<template>
	<ValidationProvider :rules='rules' v-slot='{ invalid, errors, touched }'>
		<div :class='$()'>
			<div :class='$("LabelInputContainer")'>
				<input :id='uid'
					:class='$("Input", { invalid, touched, filled: !!value })'
					:type='type' :name='name'
					autocomplete='off'
					formnovalidate
					ref='input'
					@input='updateValue()' :value='value'
				/>
				<label
					:class='$("Label")' :for='uid'
				>
					<slot>
						{{ label }}
					</slot>
				</label>
			</div>
			<ValidationErrors :errors='errors' />
		</div>
	</ValidationProvider>
</template>

<script>
	import { ValidationProvider } from 'vee-validate';
	import ValidationErrors from '@/components/ui/ValidationErrors';
	import { getUniqueId } from '@/utils.js';

	export default {
		name: 'MyInput',
		data() {
			return {
				uid: getUniqueId(),
			};
		},
		methods: {
			updateValue() {
				this.$emit('input', this.$refs.input.value);
			}
		},
		props: {
			value: {
				type: String,
				default: '',
			},
			label: {
				type: String,
				default: '',
			},
			type: {
				type: String,
				default: 'text',
			},
			rules: String,
			name: String,
		},
		components: {
			ValidationProvider,
			ValidationErrors,
		}
	};
</script>

<style lang='scss' scoped>
	@import 'src/_themes';

	.MyInput {
		transition: height 0.2s;

		&_LabelInputContainer {
			position: relative;
			margin-bottom: 0.3em;

			> * {
				width: 100%;
			}
		}
		&_Input,
		&_Label {
			padding-left: 0.5em;
		}
		&_Input {
			padding-top: 1.5em;
			padding-bottom: 0.2em;
			background-color: transparent;
			border-radius: 5px 5px 0 0;
			@include theme() {
				border-bottom: 2px solid themed('inputBorder');
				color: themed('inputTxt');
			}

			&:focus {
				@include theme() {
					border-color: themed('inputFocusedBorder');
					color: themed('inputFocusedTxt');
				}
			}

			&-invalid#{&}-touched {
				@include theme() {
					border-color: themed('inputErrorBorder');
					color: themed('txtError');
				}
			}
		}
		&_Label {
			user-select: none;
			position: absolute;
			top: 1.5em;
			left: 0;
			transition: font-size 0.1s linear,
			top 0.1s linear,
			padding-left 0.1s linear;
			cursor: text;
		}
		&_Input-filled + &_Label,
		&_Input:focus + &_Label {
			top: 0.5em;
			font-size: 0.8em;
			padding-left: 0;
		}
	}
</style>