<template>
	<ValidationProvider :rules='rules' v-slot='{ invalid, errors, touched }'>
		<div :class='$()'>
			<div :class='$("LabelTextAreaContainer")'>
				<textarea :id='uid'
					:class='$("TextArea", { invalid, touched, filled: !!value })'
					:name='name'
					autocomplete='off'
					ref='textarea'
					@input='updateValue()' :value='value'
				/>
				<label
					:class='$("Label")' :for='uid'
				>
					<slot>{{ label }}</slot>
				</label>
			</div>
			<ValidationErrors :errors='errors' />
		</div>
	</ValidationProvider>
</template>

<script>
	import { ValidationProvider } from 'vee-validate';
	import ValidationErrors from '@/components/ui/ValidationErrors';
	import { getUniqueId } from '@/utils.js';

	export default {
		name: 'MyTextArea',
		data() {
			return {
				uid: getUniqueId(),
			};
		},
		methods: {
			updateValue() {
				this.$emit('input', this.$refs.textarea.value);
			}
		},
		props: {
			value: {
				type: String,
				default: '',
			},
			label: {
				type: String,
				default: '',
			},
			rules: String,
			name: String,
		},
		components: {
			ValidationProvider,
			ValidationErrors,
		},
	};
</script>

<style lang='scss' scoped>
	@import 'src/_themes';

	.MyTextArea {
		&_LabelTextAreaContainer {
			position: relative;
			margin-bottom: 0.3em;

			> * {
				width: 100%;
			}
		}
		&_TextArea {
			color: white;
			margin-top: 1.5em;
			padding: 0.5em 0.5em 0.2em;
			background-color: transparent;
			max-width: 100%;
			min-width: 100%;
			min-height: 10em;
			@include theme() {
				border: 2px solid themed('inputBorder');
				color: themed('inputTxt');
			}

			&:focus {
				@include theme() {
					border-color: themed('inputFocusedBorder');
					color: themed('inputFocusedTxt');
				}
			}
		}
		&_TextArea {
			&-invalid#{&}-touched {
				@include theme() {
					border-color: themed('inputErrorBorder');
					color: themed('txtError');
				}
			}
		}
		&_Label {
			user-select: none;
			padding-left: 0.5em;
			position: absolute;
			top: 2em;
			left: 0;
			transition: font-size 0.1s linear,
			top 0.1s linear,
			padding-left 0.1s linear;
			cursor: text;
		}
		&_TextArea-filled + &_Label,
		&_TextArea:focus + &_Label {
			top: 0.5em;
			font-size: 0.8em;
			padding-left: 0;
		}
	}
</style>