<template>
	<div :class='$()'>
		<div :class='$("Error")'
			v-for='error in errors' :key='error'>{{ error }}</div>
	</div>
</template>

<script>
	export default {
		name: 'ValidationErrors',
		props: {
			errors: {
				type: Array,
				default: () => [],
			}
		}
	}
</script>

<style lang='scss' scoped>
	@import 'src/_themes';

	.ValidationErrors {
		&_Error {
			line-height: 1.3em;
			font-size: 0.8em;
			@include theme() {
				color: themed('txtError');
			}
		}
	}
</style>